body {
  margin: 0;

  #app {
    display: flex;
    align-items: center;
    height: 100vh;
    // justify-content: center;
    justify-content: space-between;
    flex-flow: column;
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;

    .logo {
      width: 200px;
      height: 200px;
    }
    .view{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }
    .footer{
      width: 100vw;
      height: 50px;
      line-height: 50px;
      font-size: 35px;
      display: inline-flex;
      border-top: 1px solid #072375;
      a{
        flex:1;
      }
    }
  }
}
